@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; 
  background-color: #FFFFFF; 
  font-family: 'Manrope', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}